@charset "UTF-8";

/*  */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background:#ecf0f2;
    margin: 0px;
    padding: 0px;
}

#main-contents {
    width: 90vw;
    margin: 0px 5vw;
}

/*@media (min-width: 000px) and (max-width: 000px;)*/
@media (max-width:500px) {
    /*画面が500px以下の際に使用*/
    #main-contents {
        width: 100%;
        margin: 0px;
    }
}

header {
    font-family: 'Open Sans', sans-serif;
    background:#457389;
    color:#FFF;
    font-size: 40px;
    margin: 0px 0px 20px 0px;
    padding: 0 5vw;
}
.Home{
    font-family: 'Open Sans', sans-serif;
    background:#457389;
    color:#FFF;
    text-align: left;
    font-size: 80px;
    margin: 0px 0px 20px 0px;
}
#ham-menu{
    background-color: #457389;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px;
    position: fixed;
    right: -300px;
    top: 0;
    transition: transform 0.1s linear 0s;
    width: 300px;
    z-index: 1000;
}

#ham-menu::before {
    background-color: #457389; 
    border-radius: 0 0 0 10px; 
    color: #333; 
    content: "≡";
    display: block;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 60px;
}

#menu-background {
    background-color: #333; 
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.1s linear 0s; 
    width: 100%;
    z-index: -1;
}

#ham-menu:hover {
    transform: translate(-300px); 
}

#ham-menu:hover + #menu-background {
    opacity: 0.5;
    z-index: 999;
}
a,a visited{
    color:black;
    text-decoration: none;
}
h1 {
    color: #808080;
    font-size: 30px;
    text-align: center;
    margin: 5px 0px;
}


/**/
.std-box {
    background: rgba(255, 255, 255, 1);
    color: #21C1FF;
    border-radius: 10px;
    text-align: center;
    margin: 0px 10px 20px 10px;
    padding: 20px;
}

.text-link {
    font-size: 20px;
    text-align: center;
}

.media-center {
    text-align: center;
    margin: 10px 0px;
}

li{
    list-style: none;
}
.links{
    width: 100%;
    height: 150px;
    font-family: 'Open Sans', sans-serif;
    background:#457389;
    color:#FFF;
    font-size:30px;
    padding: 0px 5px;
    height: 210px;
}
