@charset "UTF-8";

html{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

.container {
  margin-top: 28px;
}

.container .attention {
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  margin-top: 40vh;
  margin-bottom: 27px;
}

.ticket {
  width: 100%;
}

.belongings{
  padding-top: 90px;
  text-align: center;
  position: relative;
  top:50px;
}

.box {
  border:solid;
  position: relative;
  top:300px;
  left:auto;
  right:auto;
  width: 400px;
  height: 100px;
  margin: 10px;
  background-color: rgb(100,100,100);
  transform: translateY(0px);
  transition: all 500ms 0s ease;
}

.box.click.clicked {
  transform: translateY(-300px);
  background-color:rgb(180,180,180);
}

.button{
  border:none;
  color:rgba(0,0,0);
  position: relative;
  left:90px;
  top:70px;
  width:60px;
  font-size: 15px;
}
.useButton{
  border:none middle;
  color:rgba(0,0,0);
  right:120px;
  top:70px;
  position: relative;
  width:60px;
  font-size: 15px;

}

.esc{
  color:rgb(0,0,0);
  font-size:20px;
}